# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Build output
domain-redirect
myapp 